/* Css du site */

/*Met la couleur en rouge #ff332e*/
.rouge{
    color : #ff332e;
}
.bgRouge{
    background-color : #ff332e !important;

}
/*Centre l'élément*/
.middle{
    margin-left : auto;
    margin-right: auto;

}
.profilImg{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left : auto;
    margin-right: auto;
}
.uiForm{
    width: 28em !important;
    -webkit-box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.1);
    padding-top : 1em;
    padding-bottom: 1em;

}
.formSign{
    width: 22em !important;
    margin-left : auto;
    margin-right: auto;

}
.forgotPass{
    font-size : 10px;
    margin-left : 2em;
}
.btnBase{
    width: 100px;
}
.alert{
    margin-top : 15px !important;
    border-radius:0px !important;
}
.titre{
    width: 100px;
}
.auteur{
    width: 20%;
}
.date{
    width: 20%;
}
.pseudoAdmin{
    color : cornflowerblue;
}